//Fonts
$font-main: 'Comfortaa', cursive;
$fond-button_catalogs: 'Roboto', sans-serif;


//Colors
$deep-green: #19472D;
$main-green: #3B8A67;
$accent-green: #72D1A7;
$dark: #061C1B;
$white: #FFF;


//Media
$desktop: 1440px;
$desktop1: 1600px;
$tablet: 960px;
$phone: 375px;
